.card{
  text-align: start;
  width: 15rem;
  min-width: 100px;
  max-width: 210px;
  height: 23rem;
  padding: 16px;
  border-radius: 0.5rem;
  box-shadow:var(--bg-color-shadow);
  background-color: var(--card-bg-color);
}

.card-img{
  width: 136px;
  height: 109px;
  position: relative;
  z-index: 1;
  margin: 2.75rem auto 2.75rem auto;
}

.card-img img{
  position: relative;
  z-index: 0; 
  width: 100%;
  height: auto;
}

.card-img::before{
  position: absolute;
  width: 83px;
  height: 74px;
  z-index: 2;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('/RoadSign.svg');
}

.card-title{
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 160%;
  color: var(--title-color);
}

.card-description{
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 28px;
  color: var(--description-color);
}

.card-button{
  border: 0;
  padding: 0;
  background-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--button-color);
}

.card-button:hover{
  color: var(--button-color-hover);
  cursor: pointer;
}