.ds-notification,
.ds-notification div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    gap: 5px;
}

.ds-notification .list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ds-notification .mark-none{
    list-style-type: none;
    padding-left: 0;
    margin-left: none;
}